<%= render "partials/header" %>
<div id= 'history' class = 'flash' >
    <div id = 'review_head'><h3> Pick an Item to Leave a Review!</h3></div>
    <ul>
    <%if @items[0]%>
        <%@items.each do |cart_item|%>
            <%if cart_item.item.clothing_type == 'pants'%>
                <a class = 'review_item'  href= "/cart_items/reviews/<%=cart_item.item.id%>/new"> <%=image_tag cart_item.item.img_url, class: 'review_pants'%><br><%=cart_item.item.name%></a>
            <% else %>
                <a class= 'review_item' href= "/cart_items/reviews/<%=cart_item.item.id%>/new"><%=image_tag cart_item.item.img_url, class: 'review_image'%><br><%=cart_item.item.name%></a>
            <% end %>
        <%end%>
    <%else%>
        <h5>You bought no items! 😡</h5>
    <%end %>
    </ul>
</div>